.idea
src/partition/parallel_cut_pursuit
src/partition/grid_graph
src/partition/FRNN
src/partition/build
src/partition/utils/CmakeFiles
src/partition/utils/cmake_install.cmake
src/partition/utils/Makefile
src/partition/utils/CMakeCache.txt
src/partition/utils/CMakeFiles
*.pyc
*DS_Store*
*.vscode
*.so
*.cmake
*__pycache__*
*.ipynb*
notebooks/*
