.idea
superpoint_transformer/partition/parallel_cut_pursuit
superpoint_transformer/partition/grid_graph
superpoint_transformer/partition/FRNN
superpoint_transformer/partition/point_utils/build
superpoint_transformer/partition/point_utils/utils/CmakeFiles
superpoint_transformer/partition/point_utils/utils/cmake_install.cmake
superpoint_transformer/partition/point_utils/utils/Makefile
superpoint_transformer/partition/point_utils/utils/CMakeCache.txt
superpoint_transformer/partition/utils/CMakeFiles
*.pyc
*DS_Store*
*.vscode
*.so
*.cmake
*__pycache__*
*.ipynb*
